In [1]:
import pandas as pd

# Load data from Excel
main_df = pd.read_excel("C:/Users/Admin/Downloads/Nikhil Sharma files/Hotel Booking Dataset/Hotel Booking Analytics_Dataset.xlsx", sheet_name="Hotel_Booking")
room_ref = pd.read_excel("C:/Users/Admin/Downloads/Nikhil Sharma files/Hotel Booking Dataset/Hotel Booking Analytics_Dataset.xlsx", sheet_name="Room_Type")
meal_ref = pd.read_excel("C:/Users/Admin/Downloads/Nikhil Sharma files/Hotel Booking Dataset/Hotel Booking Analytics_Dataset.xlsx", sheet_name="Meal_Type")
Country_ref = pd.read_excel("C:/Users/Admin/Downloads/Nikhil Sharma files/Hotel Booking Dataset/Hotel Booking Analytics_Dataset.xlsx", sheet_name="Country")

In [3]:
# Merge room type reference and replace reserved room code with full name
main_df = main_df.merge(room_ref, how='left', left_on='reserved_room_type_code', right_on='room_code')
main_df.drop(columns=['reserved_room_type_code', 'room_code'], inplace=True)
main_df.rename(columns={'room_type_name': 'reserved_room_type'}, inplace=True)

# Merge meal type reference and replace meal code with full name
main_df = main_df.merge(meal_ref, how='left', on='meal_code')
main_df.drop(columns=['meal_code'], inplace=True)
main_df.rename(columns={'meal_type_name': 'meal_type'}, inplace=True)

# Merge country reference and replace country code with full name
main_df = main_df.merge(Country_ref, how='left', on='country_code')
main_df.drop(columns=['country_code'], inplace=True)
main_df.rename(columns={'country_name': 'country'}, inplace=True)

In [5]:
main_df

,property_name,is_canceled,lead_time,arrival_date,arrival_date_year,arrival_date_month,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,number_of_adults,...,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,room_name,room_category,meal_name,meal_description,country
0,Resort Hotel,0,9,2015-07-01,2015,July,27,0,2,2,...,103.00,0,1,Check-Out,2015-07-03,Classic Room,Standard,Full Board,"Includes breakfast, lunch, and dinner. All thr...",Portugal
1,Resort Hotel,0,68,2015-07-01,2015,July,27,0,4,2,...,97.00,0,3,Check-Out,2015-07-05,Deluxe Room,Premium,Bed and Breakfast,Includes breakfast only. No lunch or dinner.,Ireland
2,Resort Hotel,0,72,2015-07-01,2015,July,27,2,4,2,...,99.67,0,1,Check-Out,2015-07-07,Deluxe Room,Premium,Bed and Breakfast,Includes breakfast only. No lunch or dinner.,Portugal
3,Resort Hotel,0,95,2015-07-01,2015,July,27,4,11,2,...,63.86,0,0,Check-Out,2015-07-16,Deluxe Room,Premium,Bed and Breakfast,Includes breakfast only. No lunch or dinner.,United Kingdom
4,Resort Hotel,0,70,2015-07-02,2015,July,27,2,3,2,...,137.00,0,1,Check-Out,2015-07-07,Executive Suite,Premium,Half Board,Includes breakfast and either lunch or dinner ...,Romania
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,City Hotel,1,288,2016-04-21,2016,April,17,0,2,2,...,62.00,0,0,Canceled,2015-10-21,Ambassador Suite,Premium,Bed and Breakfast,Includes breakfast only. No lunch or dinner.,Portugal
49996,City Hotel,1,38,2016-04-21,2016,April,17,1,3,2,...,177.30,0,0,Canceled,2016-04-19,Family Room,Mid-range,Bed and Breakfast,Includes breakfast only. No lunch or dinner.,Chile
49997,City Hotel,1,70,2016-04-22,2016,April,17,0,2,2,...,105.30,0,2,Canceled,2016-03-20,Ambassador Suite,Premium,Bed and Breakfast,Includes breakfast only. No lunch or dinner.,Spain
49998,City Hotel,1,168,2016-04-22,2016,April,17,1,2,2,...,85.00,0,0,Canceled,2016-01-22,Ambassador Suite,Premium,Bed and Breakfast,Includes breakfast only. No lunch or dinner.,Portugal
49999,City Hotel,1,168,2016-04-22,2016,April,17,1,2,2,...,85.00,0,0,Canceled,2016-01-22,Ambassador Suite,Premium,Bed and Breakfast,Includes breakfast only. No lunch or dinner.,Portugal

In [13]:
main_df = main_df.drop_duplicates()

In [15]:
main_df

,property_name,is_canceled,lead_time,arrival_date,arrival_date_year,arrival_date_month,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,number_of_adults,...,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,room_name,room_category,meal_name,meal_description,country
0,Resort Hotel,0,9,2015-07-01,2015,July,27,0,2,2,...,103.00,0,1,Check-Out,2015-07-03,Classic Room,Standard,Full Board,"Includes breakfast, lunch, and dinner. All thr...",Portugal
1,Resort Hotel,0,68,2015-07-01,2015,July,27,0,4,2,...,97.00,0,3,Check-Out,2015-07-05,Deluxe Room,Premium,Bed and Breakfast,Includes breakfast only. No lunch or dinner.,Ireland
2,Resort Hotel,0,72,2015-07-01,2015,July,27,2,4,2,...,99.67,0,1,Check-Out,2015-07-07,Deluxe Room,Premium,Bed and Breakfast,Includes breakfast only. No lunch or dinner.,Portugal
3,Resort Hotel,0,95,2015-07-01,2015,July,27,4,11,2,...,63.86,0,0,Check-Out,2015-07-16,Deluxe Room,Premium,Bed and Breakfast,Includes breakfast only. No lunch or dinner.,United Kingdom
4,Resort Hotel,0,70,2015-07-02,2015,July,27,2,3,2,...,137.00,0,1,Check-Out,2015-07-07,Executive Suite,Premium,Half Board,Includes breakfast and either lunch or dinner ...,Romania
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49978,City Hotel,1,138,2016-04-20,2016,April,17,0,4,2,...,90.95,0,1,Canceled,2016-04-15,Ambassador Suite,Premium,Bed and Breakfast,Includes breakfast only. No lunch or dinner.,Germany
49979,City Hotel,0,270,2016-04-20,2016,April,17,0,4,3,...,110.00,0,0,Check-Out,2016-04-24,Ambassador Suite,Premium,Bed and Breakfast,Includes breakfast only. No lunch or dinner.,Iceland
49983,City Hotel,1,16,2016-04-20,2016,April,17,0,2,1,...,74.00,0,0,Canceled,2016-04-04,Ambassador Suite,Premium,Half Board,Includes breakfast and either lunch or dinner ...,Portugal
49996,City Hotel,1,38,2016-04-21,2016,April,17,1,3,2,...,177.30,0,0,Canceled,2016-04-19,Family Room,Mid-range,Bed and Breakfast,Includes breakfast only. No lunch or dinner.,Chile
49997,City Hotel,1,70,2016-04-22,2016,April,17,0,2,2,...,105.30,0,2,Canceled,2016-03-20,Ambassador Suite,Premium,Bed and Breakfast,Includes breakfast only. No lunch or dinner.,Spain

In [25]:
from sqlalchemy import create_engine
import pandas as pd

# MySQL connection using SQLAlchemy
username = 'root'
password = 'legalwiz0603'
host = 'localhost'      
port = '3306'
database = 'hotel_booking'

# Create engine
engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}:{port}/{database}')

# Send DataFrame to MySQL
main_df.to_sql('hotel_booking', con=engine, if_exists='replace', index=False)

print(" Data uploaded to MySQL successfully.")

 Data uploaded to MySQL successfully.

In [27]:
main_df.count()

property_name                     39583
is_canceled                       39583
lead_time                         39583
arrival_date                      39583
arrival_date_year                 39583
arrival_date_month                39583
arrival_date_week_number          39583
stays_in_weekend_nights           39583
stays_in_week_nights              39583
number_of_adults                  39583
number_of_children                39583
number_of_babies                  39583
market_segment                    39583
distribution_channel              39583
is_repeated_guest                 39583
previous_cancellations            39583
previous_bookings_not_canceled    39583
assigned_room_type_code           39583
booking_changes                   39583
deposit_type                      39583
days_in_waiting_list              39583
customer_type                     39583
adr                               39583
required_car_parking_spaces       39583
total_of_special_requests         39583
reservation_status                39583
reservation_status_date           39583
room_name                         39583
room_category                     39583
meal_name                         39583
meal_description                  39583
country                           39583
dtype: int64